/* .form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
        border: 2px solid black;
        padding: 2rem;
} */

#form1{
margin-bottom: 1rem;
}
.form button{
    margin-top: 3rem;
}