.desc{
  color: #b9b9b9;
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
      /* border: 2px solid black; */
      box-shadow: 0px 0px 1px 1px ;
      padding: 2rem;
}
.main-div{
  margin-top: 13rem;
}
.profile-dec{
  display: flex;
  justify-content: space-around;
}
.profile-pic{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: bisque;
}
.name{
  margin-left: -4rem;
}
.profile-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  border: 2px solid black;
  background-color: #f6fafc;
}
.heading{
  background-color: white;
}
.heading h5{
    padding: 0.5rem;
}

.summary{
  padding: 2rem;
}