@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --theme:#fefefe;
    --blue:#18b2de;
    --white:#fff;
    --grey:#d7d7d7;
    --purple-grey:#8f8297;
    --voilet:#7F00FF;
}

body{
  margin: 0;
  font-family: "Inter",sans-serif;
  -webkit-fonnt-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-color: var(--theme);
  height: 100%;
  width: 100%;
  /* color: var(--white); */
}
